{% set classes = 'flex-grow test flex grid gap-3' %}
<div class="grid gap-3 text-blue-400 test"></div>
<!-- test basic twig
{% set classes = 'test flex grid flex-grow gap-3' %}
<div class="test grid gap-3 text-blue-400"></div>
-->
