<p><%= assigns[:name] || "grid untitled wrap flex flex-grow" %></p>

<div class={@classes}>
  <p>Hello <%= @username %></p>
</div>

<div class="bold highlight wrap grid flex flex-grow">
  <p>Hello joe</p>
</div>
<!-- Elixir and heex
<p><%= assigns[:name] || "untitled wrap flex grid flex-grow" %></p>

<div class={@classes}>
  <p>Hello <%= @username %></p>
</div>

<div class="bold highlight wrap flex grid flex-grow">
  <p>Hello joe</p>
</div>
-->
