name: Test

on:
  schedule:
    - cron: "0 0 * * *" # Daily run.
  push:
    branches:
      - 'main'

  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - 'main'

# Cancel any in-progress CI runs for a PR if it is updated
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  test:
    name: Test

    strategy:
      matrix:
        version: [nightly, stable]

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install NPM dependencies
        run: cd formatter && npm i

      - name: Build the formatter
        run: cd formatter && npm run build

      - name: Install and prepare Neovim
        run: |
          wget https://github.com/neovim/neovim/releases/download/${{ matrix.version }}/nvim-linux64.tar.gz
          tar -zxf nvim-linux64.tar.gz
          sudo ln -s $(pwd)/nvim-linux64/bin/nvim /usr/local/bin

      - name: Run Tests
        run: ./scripts/run_tests.sh
